<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kwitter" version="3">
<MenuBar>
  <Menu name="file"><text>File</text>
	  <Action name="choqok_new_twit" />
	  <Action name="update_timeline" />
  </Menu>
</MenuBar>
</kpartgui>
